@media (min-width: 768px) and (max-width: 991px) {
	ul.navbar-nav li a { padding-left: 15px; padding-right: 15px; }
}


@media (max-width: 767px) {
	.navbar>.container .navbar-brand { margin-left: 15px; }
	.navbar-collapse { border: 0; }
	.navbar-toggle {box-shadow: none;margin-top: 16px;}
	.navbar-toggle .icon-bar { background: #5d5d5d; }
	ul.navbar-nav li a { padding: 15px 20px; text-align: left; }
	ul.navbar-nav li a br { display: none; }
	ul.navbar-nav li a i { padding-right: 7px; }
	.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header { padding: 15px 20px; }

}

