@media (min-width: 768px) and (max-width: 991px) {
    ul.navbar-nav li a { padding-left: 15px; padding-right: 15px; }
}

/* Blockquotes responsive */
/* Optional rules that set blockquotes to full width on smaller screens */
@media screen and (max-width: 780px) {
    blockquote.alignleft,
    blockquote.alignright { width: 40%; }
}

@media (max-width: 767px) {
    .navbar>.container .navbar-brand { margin-left: 15px; }
    .navbar-collapse { border: 0; }
    .navbar-toggle {box-shadow: none;margin-top: 16px;}
    .navbar-toggle .icon-bar { background: #5d5d5d; }
    ul.navbar-nav li a { padding: 15px 20px; text-align: left; }
    ul.navbar-nav li a br { display: none; }
    ul.navbar-nav li a i { padding-right: 7px; }
    .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header { padding: 15px 20px; }

}

@media screen and (max-width:600px) {
    blockquote.alignleft,
    blockquote.alignright {
        width: 100%;
        padding: 1em 1.5em 0;   
    }
}