.cot-paralax {
    background-attachment: fixed;
    background-size: cover;
    padding: 170px 0;
}
.cot-paralax .cot-title,
.cot-paralax .sub-title{
    color: #fff;
}
.cot-overlay,
.cot-paralax .panel-grid-cell {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%) repeat scroll 0 0;
    height: 100%;
}
.panel-grid {
    margin-left: auto !important;
    margin-right: auto !important;
}
.btn {
    border-radius: 0;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 0;
    min-height: 45px;
    padding: 12px 20px;
    position: relative;
    text-transform: uppercase;
    top: 5px;
    transition: all 0.5s ease-in-out 0s;
}
.btn-primary {
    background: #fff;
    border: 1px solid rgba(0,0,0,0.3);
    color: #222;
}
.btn-primary:visited{
    color: #222;
}
.btn-primary:hover, 
.btn-primary:focus,
.btn-primary:active{
    color: #fff;
    background-color: #9d426b;
    border-color: #6f2f4c;
}
.btn.btn-black {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #fff;
}
.scroll-button{
    font-size: 24px;
    margin-top: 120px;
    padding: 10px 15px;
    transition: all 0.5s ease-in-out 0s;
}
.scroll-button:hover{
    margin-top: 130px;
}
.cot-heading h2,
.cot-heading h4{
    font-family: 'Slabo 27px', serif;
    margin: 0;
}
.cot-heading hr {
    background: #9d426b none repeat scroll 0 0;
    border: 2px solid #9d426b;
    margin-top: 0;
    width: 60px;
}
.cot-list p{
    color: #000;
    line-height: 24px;
    margin: 14px 0;
}
.cot-list ul{
    padding-left: 0;
}
.cot-list li {    
    color: #000;
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 24px;
}
.cot-list li i{
    margin-right: 10px;
}
.cot-video-button{
    margin: 0 auto;
    text-align: center;
    transition: all 0s ease 0s;
}
.cot-video-button{
    border: 0;
    color: #fff;
    font-size: 40px;
    transition: all 5ms ease 0s;
}
.cot-video-button button {
  background: none;
  border: 0;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px #f45e61;
  color: #fff;
  font-size: inherit;
  padding: 10px 22px;
  text-align: center;
  text-transform: capitalize;
  position: relative;
  vertical-align: middle;
}
button::before, button::after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.spin {
  width: 2em;
  height: 2em;
  padding: 0;
}
.spin:hover {
  color: #fff;
}
.spin::before, .spin::after {
  top: 0;
  left: 0;
}
.spin::before {
  border: 2px solid transparent;
}
.spin:hover::before {
  border-top-color: #fff;
  border-right-color: #fff;
  border-bottom-color: #fff;
  -webkit-transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
  transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
}
.spin::after {
  border: 0 solid transparent;
}
.spin:hover::after {
  border-top: 2px solid #fff;
  border-left-width: 2px;
  border-right-width: 2px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transition: border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
  transition: border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
  transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
  transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
}

.circle {
  border-radius: 100%;
  box-shadow: none;
}
.circle::before, .circle::after {
  border-radius: 100%;
}
